@media all and (max-width: 767px) {
    header {
        nav {
            padding-bottom: 20px;
            ul {
                display: none;

            }
            .hamburger {
                display: block;

            }
        }

    }
    main {
        section {
            .cards {
                display: block;
            }
        }

    }
    footer {
        .footer-blocks {
            display: block;
        }
        section {
            padding-bottom: 10px;
        }
    }

}
