footer {
    a, h2, li {
        color: gray;
    }

    .footer-blocks {
        display: flex;
        justify-content: space-between;
    }

    .spaced-list {
        li {
            padding-bottom: 10px;
        }
    }

    .bottom-img {
        img {
            width: 100%;
        }
    }
}
